h1 {
color : black;
border-style : solid;
border-width : 30px;
border-color : red;
background-color : #ff0000;
}
h2 ul {
color : black;
border-style : groove;
background-color : #FFF;
}
h3 {
color : black;
border-style : 
background-color : #FFFFFF;
}
p1 {
color : black;
text-align : 
background-color : white;
}
p2 {
color : white;
text-align : 
background-color : black;
}
footer {
color : white; 
background-color : blue;
border-style : dashed;
}
table {
}
